html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif; */
  font-family: serif !important;

  background-image: url(../../public/back.jpg) !important;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

link a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  padding-top: 60px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
